@font-face {
	font-family: NunitoRegular;
	src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
	font-family: NunitoBold;
	src: url('../fonts/Nunito/Nunito-Bold.ttf');
}

@font-face {
	font-family: NunitoLight;
	src: url('../fonts/Nunito/Nunito-Light.ttf');
}

